*{
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #7d5fff, #7158e2);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}
