@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');




* {
    box-sizing: border-box;
}


body {
    font-family: "Black Ops One", system-ui;
    background: rgb(200, 200, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.btn {
    font-family: "Black Ops One", system-ui;
    background: pink;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}


.btn:hover {
    opacity: 0.9;


}
